.links {
    margin-left: 10px;
    display: flex;
}

.logo {
    flex-grow: 1;
    cursor: pointer;
}

.authUser {
    margin-right: 50px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 20px;
    transition: 0.3s all;
}

.link:hover {
    color: rgb(245, 210, 235);
    border-bottom: 1px solid white;
}
